<!-- ====== Made With Button Start -->
<a target="_blank" rel="nofollow noopener"
  class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-white dark:bg-dark-2 shadow-2 fixed bottom-8 left-4 sm:left-9 z-[999]"
  href="https://tailgrids.com/">
  <span class="text-base font-medium text-dark-3 dark:text-dark-6">
    Made with
  </span>
  <span class="w-px h-4 block bg-stroke dark:bg-dark-3"></span>
  <span class="block max-w-[88px] w-full">
    <img src="/assets/brands/tailgrids.svg" alt="tailgrids" class="dark:hidden">
    <img src="/assets/brands/tailgrids-white.svg" alt="tailgrids" class="hidden dark:block">
  </span>
</a>
<!-- ====== Made With Button End -->